---
layout: default
---
<div class="vetrina">
	<h1>Opere</h1>
	<p>Qui trovi, in pdf, tutte le mie raccolte di poesie e opere che possono considerarsi concluse.</p>
	
	<table>
		<tr><td class="cella"><a href="/assets/pdf/ludp.pdf"><strong>L'Uomo di Polvere</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_ludp.png"></td></tr>
		<tr><td class="cella">Una raccolta in due parti che si concentra sul rapporto tra l'uomo e la sua storia.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/lfb.pdf"><strong>La Fiaba Brutta</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_lfb.png"></td></tr>
		<tr><td class="cella">Una sorta di fiabetta eroticomica in versi liberi accompagnata da alcune poesie.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/fdde.pdf"><strong>Forme Devianti Dell'Essere</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_fdde.png"></td></tr>
		<tr><td class="cella">Un'analisi personale di vari tipi di devianza nella società contemporanea ed una riflessione.</td></tr>

	</table >	
	<table>
		<tr><td class="cella"><a href="/assets/pdf/scsssd.pdf"><strong>Sentirsi Come Si Sente Solo Dio</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_scsssd.png"></td></tr>
		<tr><td class="cella">Un viaggio alla (ri)scoperta di se stessi, in modi linguisticamente nuovi e stimolanti, durante la lunga quarantena.</td></tr>

	</table>
	<table>
		<tr><td class="cella"><a href="/assets/pdf/psm.pdf"><strong>Paradosso Social-Mediatico</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_psm.png" background-size="cover"></td></tr>
		<tr><td>Una riflessione sulla pericolosa e paradossale fragilità di questa umanità.</td></tr>
	</table>
	<table>
		<tr><td class="cella"><a href="/assets/pdf/gcgp.pdf"><strong>Gente Che Grida Piano</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_gcgp.png" background-size="cover"></td></tr>
		<tr><td class="cella">Una sofferta narrazione delle cupe e malinconiche necessità dello stare al mondo.</td></tr>
	</table>
</div>
	<section>
		<div class="core">
			{{content}}
		</div>
	</section>