---
layout: default
---
	
<div class="vetrina">
	<p>Per chi fosse interessato, sono disponibili le copie stampate dell'opera "Jesus Abdel"; Per info scrivetemi. <br>
	email: ragnar@live.co.uk</p>
	<br>
	<h1>Opere</h1>
	<p>Qui trovi, in pdf, tutte le mie raccolte di poesie e opere.</p>
	
	<table>
		<tr><td class="cella"><a href="/assets/pdf/LOVE.pdf"><strong>LOVE</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_LOVE.png"></td></tr>
		<tr><td class="cella">Il ciclo dell'amore: dalla fine, all'inzio, di nuovo alla fine, in un circolo bellissimo e terribile.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/uet.pdf"><strong>Un'Estate Terribile</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_uet.png"></td></tr>
		<tr><td class="cella">Una collezione di cose morte.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/ja.pdf"><strong>Jesus Abdel</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_ja.png"></td></tr>
		<tr><td class="cella">Jesus Abdel è un rider nel periodo immediatamente successivo alla morte del collega e strettissimo amico Martino, investito da un'auto durante il lavoro.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/tduu.pdf"><strong>Testamento di un Uomo</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_tduu.png"></td></tr>
		<tr><td class="cella">"Ti offro una birra" m'ha detto. E io gli ho detto "Va bene".</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/sc.pdf"><strong>Scale Cromatiche</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_sc.png"></td></tr>
		<tr><td class="cella">La stessa malinconia irresistibile che fa a pugni con la violenza e la carica sessuale, la prima meno incontrollabile e la seconda meno timida di una volta.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/ttvs.pdf"><strong>Travolti tra Volti Stravolti</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_ttvs.png"></td></tr>
		<tr><td class="cella">una collezione di volti ed emozioni, che si connettono in una grande e travolgente camera degli specchi.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/329mbtpm.pdf"><strong>3.29Mb di Terrore Postmoderno</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_329mbtpm.png"></td></tr>
		<tr><td class="cella">Una discesa nell'abisso dell'attuale società postmoderna del terrore.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/ludp.pdf"><strong>L'Uomo di Polvere</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_ludp.png"></td></tr>
		<tr><td class="cella">Una raccolta in due parti che si concentra sul rapporto tra l'uomo e la sua storia.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/lfb.pdf"><strong>La Fiaba Brutta</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_lfb.png"></td></tr>
		<tr><td class="cella">Una sorta di fiabetta eroticomica in versi liberi accompagnata da alcune poesie.</td></tr>

	</table >
	<table>
		<tr><td class="cella"><a href="/assets/pdf/fdde.pdf"><strong>Forme Devianti Dell'Essere</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_fdde.png"></td></tr>
		<tr><td class="cella">Un'analisi personale di vari tipi di devianza nella società contemporanea ed una riflessione.</td></tr>

	</table >	
	<table>
		<tr><td class="cella"><a href="/assets/pdf/scsssd.pdf"><strong>Sentirsi Come Si Sente Solo Dio</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_scsssd.png"></td></tr>
		<tr><td class="cella">Un viaggio alla (ri)scoperta di se stessi, in modi linguisticamente nuovi e stimolanti, durante la lunga quarantena.</td></tr>

	</table>
	<table>
		<tr><td class="cella"><a href="/assets/pdf/psm.pdf"><strong>Paradosso Social-Mediatico</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_psm.png" background-size="cover"></td></tr>
		<tr><td>Una riflessione sulla pericolosa e paradossale fragilità di questa umanità.</td></tr>
	</table>
	<table>
		<tr><td class="cella"><a href="/assets/pdf/gcgp.pdf"><strong>Gente Che Grida Piano</strong></a></td><td rowspan="2"><img class="copertina" src="/assets/images/copertine/copertina_gcgp.png" background-size="cover"></td></tr>
		<tr><td class="cella">Una sofferta narrazione delle cupe e malinconiche necessità dello stare al mondo.</td></tr>
	</table>
</div>
	<section>
		<div class="core">
			{{content}}
		</div>
	</section>